<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slicey Display</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js" integrity="sha512-pUhApVQtLbnpLtJn6DuzDD5o2xtmLJnJ7oBoMsBnzOkVkpqofGLGPaBJ6ayD2zQe3lCgCibhJBi4cj5wAxwVKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content-wrapper">
        <div class="flex-row">
            <aside class="aside">
                <h1>Slicey</h1>
                <div class="game-code">Code: <span id="gameCode">ABCD</span></div>
                <canvas id="qr"></canvas>
                <div class="player-list">
                    <h3>Leaderboard</h3>
                    <div id="players">
                        <!-- Players and points will be dynamically added here -->
                    </div>
                </div>
            </aside>
            <main class="main">
                <canvas id="backgroundCanvas" width="800" height="600"></canvas>
                <canvas id="phoneCanvas" width="800" height="600"></canvas>
                <canvas id="sentenceCanvas" width="800" height="600"></canvas>
            </main>
        </div>
    </div>
    <footer>
        <p>Built with 🧡 on <a href="https://developers.cloudflare.com">The Cloudflare Stack</a>.</p>
        <p>👀 <a href="https://github.com/craigsdennis/slicey-game-durable-objects">the code</a>.</p>
    </footer>
    <script type="module">
        import '/tween_phone_movement.js';
        import '/screen_controller.js';

        const qr = new QRious({
            element: document.getElementById("qr"),
            value: new URL(window.location).toString()
        });
    </script>
</body>
</html>
