/* styles.css */

body {
    margin: 0;
    font-family: 'Inter', 'SF Pro', Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row; /* Align items horizontally */
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align items at the top */
    gap: 20px;
}

aside {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    text-align: center;
}

.canvas-wrapper {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 5px solid #383838;
}

#backgroundCanvas {
    position: absolute;
    z-index: 1;
}

#sentenceCanvas {
    position: absolute;
    z-index: 3; /* Ensure it is on top of all other layers */
    pointer-events: none; /* Allow clicks to pass through */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    top: 0;
    left: 0;
}

#phoneCanvas {
    position: absolute;
    z-index: 2;
}

button, input {
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-family: 'Inter', 'SF Pro', Arial, sans-serif;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button {
    cursor: pointer;
    background-color: #1e88e5;
    color: #ffffff;
}

button:hover, input:focus {
    background-color: #1565c0;
    box-shadow: 0 0 10px #1e88e5;
}

input {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

footer {
    position: sticky;
    bottom: 0;
    background-color: #313131;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    font-family: 'Inter', 'SF Pro', Arial, sans-serif;
    line-height: 1.2;
    word-wrap: break-word;
    font-size: 0.9em;
}

footer a {
    color: #f6821f;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
